{% block content %}
<div class="text-right h6">
    <a href="/logout">Logout</a>
</div>
<div class="alert alert-success p-1">
    <h5>{{ message }}</h5>
</div>

<!--切り替えタブ部分-->
<u1 class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" href="#msgs"
        data-toggle="tab" role="tab">Message</a>
    </li>
<!--2つめのタブ-->
    <li class="nav-item">
        <a class="nav-link" href="#frms"
        data-toggle="tab" role="tab">Form</a>
    </li>
</u1>

<!--コンテンツ部分-->
<div class="tab-content">
    <!--1つ目のコンテンツ-->
    <div class="tab-pane fade show active" id="msg"
    ole="tabpanel">
    <h5 class="p-3 h5 text-center">
        * Posted Messages *
    </h5>
    <ul class="list-group list-group-flush">
        {% for item in data | reverse %}
        <li class="list-group-item">
            {{item[1]}}({{item[0]}})
        </li>
        {% endfor %}
    </ul>
    </div>
     <!--2つ目のコンテンツ-->
     <div class="tab-pane fade" id="frms"
     role="tabpanel">
    <h5 class="mt-4">
        Post your message:
    </h5>
    <div class="card mt-4">
        <div class="card-body">
            <form method="post" action="/">
            <div class="form-group">
                <label for="comment">Message</label>
                <div class="row">
                <input type="text" class="form-control col"
                    id="comment" name="comment">
                <input class="btn btn-primary col-3 col-sm-3 col-md-2 col-lg-2
                col-xl-2"
                type="submit" value="POST NOW!">
                </div>
            </div>
            </form>
        </div>
    </div>

    {% endblock %}

